<dx-data-grid 
    id="mainTable"
    [dataSource]="repoSource"
    [showBorders]="true"
    [showColumnLines]="true"
    [allowColumnResizing]="true"
    [hoverStateEnabled]="true"
    (onRowDblClick)="openIssuesOfRepo_handler($event)"
    [wordWrapEnabled]="true">    
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 50, 100]"
        [showInfo]="false"
        [showNavigationButtons]="true">
    </dxo-pager>
    
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column caption="Репозиторий"           dataField="name"></dxi-column>
    <dxi-column caption="Язык"                  dataField="language" [allowSorting]="false"></dxi-column>
    <dxi-column caption="Дата последнего Push"  dataField="dateOfLastPush"></dxi-column>
    <dxi-column caption="Архивный"              dataField="isArch" [allowSorting]="false"></dxi-column>
    <dxi-column caption="Ссылка"                dataField="linkUrl" [allowSorting]="false" [cellTemplate]="cellTemplateFunc_href"></dxi-column>


</dx-data-grid>

<dx-popup
    id="popup"
    container=".dx-viewport"
    [(visible)]="popupVisible"
    [title]="selectedRepo"
    [showCloseButton]="true"
    [enableBodyScroll]="false"
    [resizeEnabled]="true"
    (onHidden)="popupOnHidden_handler($event)"
    >

    <dx-data-grid
        id="issuesTable"
        [dataSource]="issuesSource"
        [showBorders]="true"
        [showColumnLines]="true"
        [hoverStateEnabled]="true"
        [wordWrapEnabled]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        >

        <dxi-column caption="Дата создания" dataField="date"    [allowSorting]="false"></dxi-column>
        <dxi-column caption="Название"      dataField="header"  [allowSorting]="false"></dxi-column>
        <dxi-column caption="Содержание"    dataField="text"    [allowSorting]="false"></dxi-column>


    </dx-data-grid>
</dx-popup>

<dx-load-panel
    id="loadPanel"
    shadingColor="rgba(0,0,0,0.5)"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
    >

</dx-load-panel>