<dx-data-grid 
    id="gridContainer"
    [dataSource]="dataSource"
    [showBorders]="true"
    [showColumnLines]="true"
    [allowColumnResizing]="true"
    [hoverStateEnabled]="true"
    >    
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 50, 100]"
        [showInfo]="false">
    </dxo-pager>
    
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column caption="Репозиторий" dataField="name"></dxi-column>
    <dxi-column caption="Язык" dataField="language" [allowSorting]="false"></dxi-column>
    <dxi-column caption="Дата последнего Push" dataField="dateOfLastPush"></dxi-column>
    <dxi-column caption="Архивный" dataField="isArch" [allowSorting]="false"></dxi-column>
    <dxi-column caption="Ссылка" dataField="linkUrl" [allowSorting]="false" [cellTemplate]="cellTemplateFunc_href"></dxi-column>


</dx-data-grid>

