<p>prism-test works!</p>
<h1>outline</h1>

<div class="box">
  <div class="title">Size XL</div>
  <div class="content">
    <button prizmButton appearanceType="outline" appearance="primary" size="xl">primary</button>
    <button prizmButton appearanceType="outline" appearance="secondary" size="xl">secondary</button>
    <button prizmButton appearanceType="outline" appearance="success" size="xl">success</button>
    <button prizmButton appearanceType="outline" appearance="warning" size="xl">warning</button>
    <button prizmButton appearanceType="outline" appearance="danger" size="xl">danger</button>
    <button [disabled]="true" prizmButton appearanceType="outline" size="xl">disabled</button>
    <button [showLoader]="true" prizmButton appearanceType="outline" size="xl">loader</button>
  </div>
</div>
